  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Escute sua música
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div  class="content">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Musica 01</ion-label>
      </ion-item>
    </div>

    <div class="player">
      <ion-icon class="ion-icon" slots="start"name="play-back"></ion-icon>
      <ion-icon class="ion-icon" name="pause-circle"></ion-icon>
      <ion-icon class="ion-icon" slots="end"name="play-forward"></ion-icon>
    </div>
  </ion-content>
  


