<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{nomes.nome}}  
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-card *ngFor = "let card of cards">

      <ion-card-header>
        <h1 (click) ="ir()">ir</h1>
        <ion-card-subtitle>{{card.horario}}</ion-card-subtitle>
        <ion-card-title>{{card.titulo}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-img   src="{{card.foto}}"></ion-img>
       
      </ion-card-content>
  
    </ion-card>

    
</ion-content>
